extends layout

block content
    div#login.container
        div: form(method='POST', action='/login', class='form-vertical')
            fieldset
                legend: strong.text-info Login page

                if error
                    div.alert.alert-danger Missing username or password

                div.form-group
                    label Username:
                    input.form-control(name='username', autofocus)

                div.form-group
                    label Password:
                    input.form-control(name='password', type='password')

                div.form-actions
                    input.btn.btn-primary(type='submit', value='Login')
