extends layout

block content
    div#login.container
        div: form(method='POST', action='/users', class='form-vertical')
            fieldset
                legend: strong.text-info Create User

                if userexists
                    div.alert.alert-danger User already exists

                div.form-group
                    label Username:
                    input.form-control(name='username', autofocus)

                div.form-group
                    label Password:
                    input.form-control(name='password', type='password')

                div.form-actions
                    input.btn.btn-primary(type='submit', value='Create User')
